<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reenbitcamptesttaskazurefunc20230320190240.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b9610117-f49b-42f3-87c0-d8bcde1301f8/resourcegroups/docx_Files/providers/Microsoft.Web/sites/ReenbitCampTestTaskazurefunc20230320190240</ResourceId>
    <UserName>$ReenbitCampTestTaskazurefunc20230320190240</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://reenbitcamptesttaskazurefunc20230320190240.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>